<header class="header">
    <div class="navigation">
        <a href="{{ '/' | prepend: site.url }}" class="logo">
            {{ site.title }}
        </a>
    </div>

    <ul class="social-links">
        <a href="{{ '/opensource' | prepend: site.url }}" class="social-links__entry" title="Open Source Contributions">
            <i class="fab fa-osi"></i>
        </a>

        {% if site.author.email %}
            <a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
                <i class="far fa-envelope"></i>
            </a>
        {% endif %}

        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.linkedin %}
            <a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        {% endif %}

        <a href="https://picofuture.com" class="social-links__entry" target="_blank">
            <i class="fa fa-globe"></i>
        </a>
    </ul>
</header>